@font-face {
    font-family: 'Courgette-Regular';
    src: url('./fonts/Courgette-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LoveLight-Regular';
    src: url('./fonts/LoveLight-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}